<div class="flex-container">
    {{#artists}}
    {{#each items}}
    <div class="artist-display">
        <img src="{{images.[0].url}}">
        <h3>{{name}}</h3>
        <a href="/albums/{{id}}" class="artists-button">View albums</a>
    </div>
    {{/each}}
    {{/artists}}
</div>
