<nav>
    <h2>Title</h2>
    <h2>Tracks</h2>
</nav>
<div>
    {{#tracks}}
    {{#body}}
    {{#each items}}
    <div class="tracksDiv">
        <h3>{{name}}</h3>
        <audio controls>
            <source src=" {{preview_url}}"></source>
        </audio>
    </div>
    {{/each}}
    {{/body}}
    {{/tracks}}
</div>